/* styles.css */

:root{
    --dark:rgb(29, 28, 27);
    --light:rgb(235, 230, 194);
    --blue1: #AFDDE5;
    --blue2: #0FA4AF;
    --blue3: #024950;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-collapse: collapse;
    list-style: none;
}

body{
    background-color: #003135;
}



/* divs */

#deck-wrapper{
    margin-top: 1.5rem;
    background-color: var(--blue1);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 5px solid var(--blue2);
    min-width: calc(300px + 6rem);
    min-height: 900px;
    /* display: inline-block; */
}

#deck-container{
    border-top: 5px solid var(--blue2);
}

.deck{
    height: 50px;
    background-color: var(--blue2);
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    color: var(--blue3);
}

.deck:hover{
    background-color: var(--blue3);
    border: 2px solid var(--blue2);
}

.deck:hover p{
    color: white !important;
}

#card-page{
    margin-top: 1.5rem;
    background-color: var(--blue1);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#card-wrapper{
    background-color: var(--blue1);
    border: 5px solid var(--blue2);
    /* display: inline-block; */
    min-width: calc(300px + 6rem);
    min-height: 900px;
}

#card-container, #add-card-form, #edit-card-form, #delete-card-form, #deck-container, #add-deck-form, #delete-deck-form{
    border-top: 5px solid var(--blue2);
    /* overflow: hidden; */
}

.main-card{
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    background-color: var(--blue2);
    border-radius: 25px;
    margin-bottom: 3rem;
    flex-direction: column;
}

.main-deck{
    margin: auto;
    gap: 1rem;
    position: relative;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    background-color: var(--blue1);
    border-radius: 25px;
}

#main-card{
    font-size: 30px;
}

#main-card p{   
    color: white;
}

.trigger:hover{
    border: 2px solid var(--dark);
    cursor: pointer;
}

#card-sidebar, #deck-sidebar{
    border: 5px solid var(--blue2);
    background-color: var(--blue2);
    width: 250px;

    transrom: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease opacity 0.3s ease;
}

#card-sidebar.active, #deck-sidebar.active{
    transform: translateX(0);
    opacity: 1;
}

#card-sidebar li, #deck-sidebar li{   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.card-list, .deck-list{
    padding: 0.5rem;
}

.card-list:hover, .deck-list:hover{
    cursor: pointer;
    background-color: var(--blue3);
    color: white;
}

#score-board{
    padding-bottom: 2rem;
}

#answer-container{
    padding-bottom: 2rem;
}




/* buttons */

.button{
    background-color: var(--blue1);
    border: 2px solid var(--blue2);
    color: var(--blue2);
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}

input{
    background-color: var(--light);
    border: 2px solid var(--blue2);
    color: var(--blue2);
    padding: 5px;
    border-radius: 5px;
}

select{
    background-color: var(--light);
    border: 2px solid var(--blue2);
    margin-top: 2rem;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}

.action-btn{
    background-color: var(--blue2);
    border: 2px solid var(--blue3);
    color: var(--blue3);
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}

.expand-btn, .expand-deck-btn{
    background-color: var(--blue2);
    border: 2px solid var(--blue2);
    color: var(--blue3);
    border-radius: 5px;
    height: 50px;
    position: absolute;
    bottom: 50%;
    font-weight: bold;
}

.expand-btn{
    left: 99.5%;
}

.expand-deck-btn{
    right: 99.5%;
}

.control-btn:hover .tooltip{
    visibility: visible;
}

.control-btn{
    background-color: var(--blue1);
    border: 2px solid var(--blue2);
    color: var(--blue2);
    padding: 5px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

button:hover{
    background-color: var(--blue3);
    cursor: pointer;
    color: white !important;
}

button:hover svg path{
    color: white !important;
}

.mode-buttons{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
}



/* tooltips */

.tooltip{
    color: white;
    background-color: var(--blue2);
    padding: 5px;
    width: 75px;
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -37.5px;
    z-index: 1;
}

.tooltip::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color: var(--blue2) transparent transparent;
}



/* messages */
.error-message{
    background-color:rgb(238, 147, 144);
    color:rgb(255, 0, 0);
}

.success-message{
    background-color:rgb(147, 245, 128);
    color:rgb(6, 134, 6);
}

.error-border{
    border: 2px solid rgb(255, 0, 0);
}

.success-border{
    border: 2px solid rgb(6, 134, 6);
}




/* animations */

.flip{
    animation: flip 0.5s ease-in-out;
}

.text-flip{
    animation: text-flip 0.5s ease-in-out;
}

@keyframes flip{
    from { transform: rotateX(0deg); }
    to { transform: rotateX(180deg); }
}

@keyframes text-flip{
    from { transform: rotateX(0deg); }
    to { transform: rotateX(-180deg); }
}

.slide-left{
    animation: slide-left 0.25s ease-out forwards;
}

.slide-right{
    animation: slide-right 0.25s ease-out forwards;
}

@keyframes slide-left{
    from { transform: translateX(-200%); }
    to { transform: translateX(0); }
}

@keyframes slide-right{
    from { transform: translateX(200%); }
    to { transform: translateX(0); }
}



/* general */

.df0{ display: flex }
.df1{ 
    display: flex;
    justify-content: center;
}
.df{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p_5{ padding: 0.5rem; }
.p1{ padding: 1rem; }
.p2{ padding: 2rem; }
.p3{ padding: 3rem; }
.p4{ padding: 4rem; }
.p5{ padding: 5rem; }

.m1{ margin: 1rem; }
.m2{ margin: 2rem; }
.m3{ margin: 3rem; }
.m4{ margin: 4rem; }
.m5{ margin: 5rem; }

.w100{ width: 100%; }
.w75{ width: 75%; }
.w50{ width: 50%; }
.w25{ width: 25%; }

.tc{ text-align: center; }
.di{ display: inline; }
.dn{ display: none; }
.pb1{ padding-bottom: 1rem; }